@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


  @font-face {
    font-family: retro;
    src: url('../assets/fonts/retro/ChicagoFLF.ttf');
  }

  :root {
    --light-background: #FFFFFF;
    --dark-background: #E3E4E5;
    --light-screen-background: #D6D5D0;
    --dark-screen-background: #A5A59B;
    --screen-light: #C1C1BA;
    --screen-dark: #484647;
    --icon-light-grey: #BABDC1;
    --light-grey: #F2F2F2;
    --mid-grey: #999999;
    --dark-grey: #595959;
    --very-dark-grey: #4D4D4D;
  }

 


	.screen {
    position: relative;
    margin: 30px auto 0px auto;
    width: 210px !important;
    height: 250px !important;
    background: linear-gradient(135deg, var(--dark-screen-background), var(--light-screen-background));
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 2px var(--very-dark-grey);
    font-family: "ChicagoFont", "Arial";
    font-size: 130%;
    color: var(--screen-dar);
  }

  

  .pixel {
    font-family:retro !important;
  }

* {
    font-family: 'roboto'
}

.center {
    margin: 0;
    position: absolute;
    top: 26%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform:scale(1.3)
  }

  @media(max-width:768px) {
    .center {
      transform:scale(1) !important;
      left:25% !important;
      top:15% !important;
    }
  }

.time-display {
    height:140px;
    margin: 1em;
    margin-bottom:2em;
    border-radius:5px;
    border-top:1px solid lightgrey;
    border-left:1px solid lightgrey;
    border-bottom:1px solid darkgrey;
    border-right:1px solid darkgrey;
    background-color: white;
   
}


.display-text {
    color:black;
    font-family: 'roboto';
    font-size:.9em;
    font-weight:bolder;
}

.shell {
	width: 255px !important;
	height: 265px !important;
	border: 1px solid transparent;
	border-radius: 38px;
	background: linear-gradient(45deg, var(--light-background), var(--dark-background));
	box-shadow: inset 5px -5px 15px 0px grey;
}

.centered {
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.theme-button {
	border: 2px solid var(--icon-light-grey) !important;
  border-radius: 5px;
	background-color: #CBCCCE;
  color:black !important;
	background: radial-gradient(farthest-side at -90% 80%, var(--mid-grey), var(--light-grey));
}

.theme-button:hover {
  cursor: pointer;
}


.text-shadow {
    text-shadow: 3px 3px 2px rgba(29, 94, 138, .60)
}



